<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    유저 페이지입니다.
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <b>Authenticated DTO:</b>
    <div sec:authentication="principal.members.loginId"></div>
<div>[[${principal}]]</div>

</body>
<script th:inline="javascript">
    const auth= [[${loginId}]]
    console.log(auth)

</script>
</html>